.chat-panel:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(135deg, transparent, var(--blue), transparent);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    /* opacity: 0; */
    transition: opacity .3s;
    pointer-events: none;

}

.messages::-webkit-scrollbar {
    width: 6px;
}

.messages::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #111a2e;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #3d5898;
}

.loading_chat {
	place-self: center;
	background: linear-gradient(90deg, #7dd3fc, #76ce9a, #f1e124) -100% / 200%;
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
	font: 6 clamp(0.5em, 0.9vw, 1em) exo, sans-serif;
	animation: shimmer 2s linear infinite;
    letter-spacing: 1px;
}

@keyframes shimmer { to { background-position: 100% } }

@media (forced-colors: active) {
  p {
    background: #212121;
    color: aquamarine
  }
}
